<turbo-frame id="repo-content-turbo-frame">
  <style>
    /* #region 导航 */
    .nav {
      height: 100%;
    }

    .nav ul {
      height: 100%;
      width: 1000px;
      margin: 0 auto;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .nav ul li a {
      width: 180px;
      height: 200px;

      font-size: 16px;
      color: white;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }


    .nav ul li:nth-child(1) {
      background-color: #595CA8;
    }

    .nav ul li:nth-child(2) {
      background-color: #FF9D2E;
    }

    .nav ul li:nth-child(3) {
      background-color: #01A6DE;
    }

    .nav ul li:nth-child(4) {
      background-color: #015E91;
    }

    /* #endregion 导航 */
  </style>
  <div class="nav">
    <ul class="">
      <li>
        <a href="#">
          <img src="./flex/item1.png" alt="" srcset="">
          <span>我的邮箱</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./flex/item2.png" alt="" srcset="">
          <span>云服务</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./flex/item3.png" alt="" srcset="">
          <span>手机课堂</span>
        </a>
      </li>
      <li>
        <a href="#">
          <img src="./flex/item4.png" alt="" srcset="">
          <span>微信服务</span>
        </a>
      </li>
    </ul>
  </div>
</turbo-frame>